flask==3.0.3
gunicorn==22.0.0
python-dotenv==1.0.1
requests==2.32.3
sqlalchemy==2.0.30
mysql-connector-python==8.4.0
kafka-python-ng==2.2.3
cassandra-driver==3.29.1
psycopg2-binary==2.9.9
supabase==2.4.3
